@import "vars.scss";

.app-info,
.today-info,
.forecast-detail p {
    text-align: center;
}

.container {
    border: 2px solid $light-blue;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    font-family: 'News Cycle', sans-serif;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;

    h1 {
        color: darkblue;
    }

    ul, menu, dir {
        -webkit-padding-start: 0;
        padding: 0px;
    }
}


.contain-elements-for-weather {
    width: 95%;
    display: flex;
    justify-content: center;
}

.today-info {
    border: 2px solid $light-blue;
    border-radius: 12px;
    width: 20%;
    align-items: center;
    order: 0;
    font-size: 15px;
    padding-top: 0px;
}

.weather-image {
    height: 15%;
    width: 20%;
}

.forecast {
    margin-top: 0px;
    width: 75%;
    order: 1;
    border: 2px solid $light-blue;
    border-radius: 12px;

    display: flex;
    justify-content: center;
    font-family: 'News Cycle', sans-serif;

    flex-direction: row;
    flex-wrap: nowrap;

    .forecast {
        border: 2px solid $light-blue;

    }
}

.forecast:first-child {
    display: none;
}

.forecast:nth-child(even) {
    border-radius: 12px;
    background-color: $white;
    padding: 5px;

}

.forecast:nth-child(odd) {
    background-color: $blue-grey;
    border: 2px solid $light-purple;
    padding: 5px;

}

.forecast-detail {
    p {
        width: 100%;
    }
}

#yahoo-ad {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

#example {
    visibility: hidden;
}

.weather-sprite {
    object-fit: none;
    object-position: 0 ;
    width: 75px;
    height: 80px;

    &#28 {
        object-position: 0 0;
    }
}





