.app-info,
.today-info {
    text-align: center;
}

.container {
    h1 {
        color: green;
    }

    ul, menu, dir {
        -webkit-padding-start: 0;
        padding: 5px;
    }
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.today-info {
    border: 2px solid black;
}

.forecast-info {
    border: 2px solid red;
    h3 {
        text-align: center;
    }

    .forecast {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .forecast-detail {
        border: 2px solid black;
        p {
            text-align: center;
            width: 100%;
        }
    }
}

.yahoo-ad {
    display: flex;
    justify-content: center;
}
